table,tr,td{
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 50px;
    text-align: center;
    background-color: azure;
}

.titulo{
    color: darkblue;
}

caption{
    font-weight: bolder;
}

table{
    margin-bottom: 50px; 
}
